.App {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 50%;
    min-height: 30vh;
    padding: 2rem;
    border-radius: 3rem;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 2rem;
}